@import '~bulma/sass/utilities/initial-variables.sass';
@import '~bulma/sass/utilities/derived-variables.sass';
@import '~bulma/sass/base/minireset.sass';
@import '~bulma/sass/components/menu.sass';
@import '~bulma/sass/layout/footer.sass';

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 1.5em 1.5em 4em 1.5em;
}

.menu {
  overflow: auto;
  max-height: 15em;
}

li {
  font-size: 0.9em;

  &:not(:last-child) {
    margin-bottom: .5rem
  }
}

.checkbox {
  position: relative;

  input[type='checkbox'] {
    display: none
  }

  span {
    padding-left: 2em
  }

  &:before {
    content: '';
    display: block;
    position: absolute;
    width: 1em;
    height: 1em;
    border: 1px solid #000;
    top: 0;
    left: 0;
    border-radius: 3px;
  }

  &.is-checked:after {
    content: '\2713\0020';
    position: absolute;
    top: -.2rem;
    left: 0;
    font-size: 1.2em;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e3e3e3;
  padding: 1rem 1.5rem;
  width: 100%;
}

.has-text-centered {
  text-align: center
}