@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Nunito-400.woff2) format('woff2'),
    url(../fonts/Nunito-400.woff) format('woff');
}

@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  src: url(../fonts/Nunito-700.woff2) format('woff2'),
    url(../fonts/Nunito-700.woff) format('woff');
}

@import '~bulma/sass/utilities/_all';
@import '~bulma/sass/base/minireset.sass';
@import '~bulma/sass/base/helpers.sass';
@import '~bulma/sass/elements/button.sass';
@import '~bulma/sass/elements/icon.sass';
@import '~bulma/sass/components/menu.sass';
@import '~bulma/sass/components/level.sass';
@import '~bulma/sass/components/tabs.sass';
@import '~bulma/sass/layout/footer.sass';
@import '~bulma/sass/form/shared.sass';
@import '~bulma/sass/form/tools.sass';
@import 'font-awesome';

$family-sans-serif: 'Nunito', sans-serif;

body {
  font-family: $family-sans-serif;
  max-width: 23.75em;

  >.tabs {
    margin: unset !important;

    a:hover {
      cursor: pointer
    }
  }
}

.content-block {

  padding: 1.5em 1.5em 4em 1.5em;

  &.is-flex {
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  &.has-scrollbar {
    max-height: 20em;
    overflow: auto;
  }
}

.menu {
  overflow: auto;
  max-height: 15em;

  li {
    font-size: .97em;

    &:not(:last-child) {
      margin-bottom: .5rem
    }
  }
}

.checkbox {
  position: relative;

  input[type='checkbox'] {
    display: none
  }

  span {
    padding-left: 2em
  }

  &:before {
    border-radius: 3px;
    border: 1px solid #000;
    content: '';
    display: block;
    height: 1em;
    left: 0;
    position: absolute;
    top: .15rem;
    width: 1em;
  }

  &.is-checked:after {
    content: '\2714';
    font-family: $family-sans-serif;
    font-size: 1.2em;
    left: 0;
    position: absolute;
    top: -.1rem;
  }
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #e3e3e3;
  padding: 1rem 1.5rem;
  width: 100%;
}

.has-scrollbar {
  scrollbar-color: dark;
  scrollbar-width: thin;
}

.mt-4 {
  margin-top: 1rem
}