mixin tab(props = {})
  li(class=attributes.class)
    a(data-content=props.for)
      span.icon.is-small
        i(class=props.icon)
      span(data-trans=props.title)

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="popup.css")
  body
    .tabs
      ul
        +tab({
          for: 'options-content',
          icon: 'icon-tasks',
          title: 'tabOptions'
        })(class='is-active')
        +tab({
          for: 'download-videos-fb-content',
          icon: 'icon-download',
          title: 'tabDownload'
        })

    .content
      ul#download-videos-fb-content.content-block.has-scrollbar.is-hidden

      #options-content.content-block.is-flex
        .menu.has-scrollbar
          p.menu-label(data-trans='menuLabelActivity')
          ul.menu-list
          p.menu-label(data-trans='menuLabelPrivacy')
          ul.menu-list
          p.menu-label(data-trans='menuLabelOther')
          ul.menu-list
          p.is-size-7.has-text-danger.mt-4(data-trans='caution')

    footer.footer
      .content.has-text-centered
        a(href='https://addons.mozilla.org/en-US/firefox/addon/facebook-utils/' data-trans='rate')

    script(async src='popup.js')